:root {
  --color-dark: #12372a;
  --color-primary: #436850;
  --color-secondary: #ADBC9F;
  --color-light: #FBFADA;
}

.container {
  display: grid;
  grid-template: auto auto / auto 1fr;
}

.header {
  background-color: white;
  grid-column: 1 / -1;
}

.sidebar {
  background-color: var(--color-dark);
  color: white;
  padding: 15px 50px 15px 20px;
}

.main-content {
  background-color: var(--color-light);
}